snn-fpga/snn-fpga.sim/
snn-fpga/snn-fpga.ip_user_files/
snn-fpga/snn-fpga.cache/
snn-fpga/snn-fpga.hw/
snn-fpga/snn-fpga.runs/

snn-fpga/snn-fpga.hw/snn-fpga.lpr

snn-fpga/snn-fpga.xpr
snn-fpga/snn-fpga.cache/wt/project.wpc
model_weights.npz

# Python scripts/weights_pkg_q8_8.vhd
Python scripts/snn_floats_weights.npz
Python scripts/snn_floats_model.pth
Python scripts/snn_qat_model.pth
Python scripts/data/

snn-fpga1/